@import 'kiosque/mixins.scss';
@import 'kiosque/variables.scss';

* {
    @include reset;
}

header {
    @include disflex;
    position: relative;
    border: 2px solid $primaire;

    .en-tete__logo--noir {
       width: 50%;
       margin: 10px 25% 5px 25%;

        img {
            width: 100%;
            object-fit: cover;
        }
        
    }
    .retour {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 30px;
        top: 40%;
    }

}

#carte {
    @include disflex;
    padding: 0px 5px 0px 5px;

    .img-background {
        width: 100%;
        height: 200px;
        
        img {
            width: 100%;                
            object-fit: cover;
        }

    }    

    .carte__resto {

        @include disflex;
        background-color: $bgcgris;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        
        border: 2px solid orange;




        .titre {
            @include disflex;
            @include font-title;
            width: 100%;
            margin-bottom: 20px;
            padding: 8px;
            justify-content: space-between;

            
            .titre__coeur {
                font-size: 25px;
            }
        }
    
        #menu-entree {
            @include disflex;
            justify-content: space-between;
            margin-bottom: 15px;
    
            h2 {
                color: grey;
            }

           
        
        }
    
        #menu-plat {
            @include disflex;
            justify-content: space-between;
            margin-bottom: 15px;
    
            h2 {
                color: grey;
            }
        }
        
        #menu-dessert {
            @include disflex;
            justify-content: space-between;
            border: 2px solid green;
            margin-bottom: 15px;
    
            h2 {
                color: grey;
            }
        }
    
        .commander {
            width: 60%;
            margin: 30px auto 20px auto;
            padding: 15px 0 15px 0;
            border-radius: 200px;
            background: linear-gradient( 180deg, $secondaire 0%, $primaire 100%);
            color: white;
            border: 2px solid violet;
        }
    
        .menu {
            @include disflex;
            width: 100%;
            border-radius: 15px;
            padding: 20px 35px 20px 40px;
            margin-top: 15px;
            border: 2px solid yellow;
    
            h3 {
                width: 100%; 
            }
            
        }
    }


}




footer {
    @include disflex;
    background-color: black;
    color: white;
    padding: 15px 0 60px 25px;
    
    ul {
        width: 100%;
        list-style: none;

        
        a {
            color: white;
            text-decoration: none;
            margin-bottom: 15px;

            i {
                width: 10px;
                height: 10px;
                margin-right: 15px;
                text-align: right;
            }
        }
    }

    .logo__blanc {
        border: 2px solid green;
        width: 100%;
        margin-bottom: 25px;
        font-size: 20px;

        img {
            width: 35%;
            object-fit: cover;
            color: white;
        }
    }

}

