@import 'kiosque/mixins.scss';
@import 'kiosque/variables.scss';

* {
    @include reset;
}

body {
    @include font-face;
}

header {
    @include disflex;
    position: relative;
    justify-content: center;
    align-items: center;

    .en-tete__logo--noir {
        width: 300px;
        height: 60px;
        margin: 15px 25% 10px 25%;
            
    }
    .retour {
        position: absolute;
        left: 30px;
        bottom: 55%;

        i{
            font-size: 22px;
            color: black;
        }
    }

}

#carte {
    @include disflex;

    .img-background {
        width: 100%;
        height: 200px;
        margin-bottom: -20px;

        img {
            width: 100%;
            height: 100%;             
            object-fit: cover;
        }

    }    

    .carte__resto {
        @include disflex;
        background-color: $bgcmediumgris;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 0px 15px 0px 15px;
        opacity: 1.5;        

        .titre {
            @include disflex;
            @include font-title;
            width: 100%;
            margin-bottom: 20px;
            justify-content: space-between;

            h1 {
                width: 80%;
                justify-content: left;
            }
            
            .titre__coeur {
                width: 15%;
                margin-top: 5px;
                justify-content: right;
                                
                i{
                    font-size: 30px;
                }
                
                &:hover {
                    i{
                        @include degradecoeur;
                        -webkit-background-clip: text;
                        color: transparent;
                        font-weight: 900;
                        transition-duration: 0.6s;             
                    }                                            
                }
            }
       
        }
    
        #menu-entree {
            @include disflex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
            
            h2 {
                color: grey;
                border-bottom: 4px solid $tertiaire;
                width: 50px;
            }
        }
    
        #menu-plat {
            @include disflex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
    
            h2 {
                color: grey;
                border-bottom: 4px solid $tertiaire;
                width: 50px;
                margin-bottom: 5px;
            }
        }
        
        #menu-dessert {
            @include disflex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
    
            h2 {
                color: grey;
                border-bottom: 4px solid $tertiaire;
                width: 50px;
            }
        }

        .menu {
            @include disflex;
            width: 100%;
            height: 70px;
            border-radius: 15px;
            background-color: white;
            border-bottom: 9px;
            margin: 3px 0 3px 0;
            justify-content: space-between;

            &:hover {
                .description {
                    width: 60%;
                    transition-duration: 0.5s;
                }

                .slide {
                    width: 100px;
                    margin-right: none;
                    justify-content: space-between;
                    transition-duration: 1s;

                    .prix {
                        width: 30px;                   
                    }
                    .check {
                        width: 60px;
                        height: 100%;
                        opacity: 1;
                        animation-name: check;
                        animation-duration: 1.5s;
                        
                            
                        .cercle {
                            @include disflex;
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            background-clip: text;
                            color: white;
                            transition-duration: 1s;
                            

                            i{
                                animation-name: cercle;
                                animation-duration: 1.5s;
                                animation-fill-mode: forwards;
                            }                  
                        }
                    }                
                }                
            }


            .description {
                white-space: nowrap;
                width: 80%;
                height: 100%;
                padding: 10px 0 0 6px;
                                
                h3 {
                    width: 100%;
                    height: 50%;
                    font-size: 17px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                p {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .slide {
                @include disflex;
                width: 40px;
                height: 100%;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

                .prix {
                    width: 30px;
                    height: 100%;
                    padding-top: 50px;
                }
    
                .check {
                    background: $tertiaire;
                    width: 0px;
                    height: 100%;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    opacity: 0;
                    .cercle {      
                        width: 0%;
                        height: 100%;
                        border-radius: 15px;                                                                  
                    }                          
                }     
            }                              
        }
    
        .commander {
            width: 60%;
            margin: 30px 20% 20px 20%;
            padding: 15px 0 15px 0;
            border-radius: 200px;
            @include degradebtn;
            color: white;
            border: 2px solid violet;
            &:hover {
                @include box-shadow-hover;
            }
        }        
    }
}

footer {
    @include disflex;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 15px 0 20px 25px;

    .pied-de-page__logo--blanc {
        padding-bottom: 15px;       
    }
        
    ul {
        width: 100%;
        list-style: none;
        font-size: 15px;
        padding-bottom: 10px;

        li{
            margin-bottom: 10px;
        }
        
        a {
            color: white;
            text-decoration: none;

            i {
                width: 10px;
                height: 10px;
                margin-right: 10px;
                text-align: right;
            }
        }
    }
}


/* annimation & keyframes */

.fondu1 {
    animation: fondu 1.3s;
}
.fondu2 {
    animation: fondu 2.6s;
}
.fondu3 {
    animation: fondu 3.9s;
}
@keyframes fondu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slide {
    from {
        width: 30px;
    }
    to {
        width: 110px;
    }
    
}
@keyframes rotate {
    from{
        transform: rotate(90deg);
    }
    to{
        transform:rotate(-360deg);
    }
}
@keyframes check {
    from {
        width: 0px;
    }
    to {
        width: 60px;
    }    
}
@keyframes cercle {
    from {
        font-size: 0;
    }
    to {
        font-size: 33px;
    }
}





/* MediaQueries */

@media screen and (min-width: 800px) {

    #carte {

        @include disflex;

        .carte__resto {

            @include disflex;
            padding: 10px 15%;
            margin-right: 15%;
            margin-left: 15%;
        }       
    }

}

