@import 'kiosque/mixins.scss';
@import 'kiosque/variables.scss';

* {
    @include reset;
}

header {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid $primaire;
    text-align: center;

    .en-tete__logo--noir {
        padding: 9px 30% 0 30%;      
    
        img {
        width: 100%;
        object-fit: cover;
        }
        
    }

}

#carte {
    display: flex;
    flex-wrap: wrap;
    background-color: $bgcgris;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px 5px 30px 5px;

    .titre {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid black;
        margin-bottom: 20px;

        .titre__coeur {
            border: 2px solid forestgreen
        }
    }

    #menu-entree {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        border: 2px solid green;

        h2 {
            color: grey;
        }

        .menu-entree__entree {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border-radius: 15px;
            padding: 20px 35px 20px 40px;
            margin-top: 15px;
            border: 2px solid yellow;

            h3 {
                width: 100%;
             
            }
            
        }
    }

    #menu-plat {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        border: 2px solid green;

        h2 {
            color: grey;
        }

        .menu-plat__plat {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border-radius: 15px;
            padding: 20px 35px 20px 40px;
            margin-top: 15px;
            border: 2px solid yellow;

            h3 {
                width: 100%;
             
            }
        }
    }
    
    #menu-dessert {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 2px solid green;
        margin-bottom: 15px;

        h2 {
            color: grey;
        }

        .menu-dessert__dessert {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border-radius: 15px;
            padding: 20px 35px 20px 40px;
            margin-top: 15px;
            border: 2px solid yellow;

            h3 {
                width: 100%;
             
            }
        }
    }

    .commander {
        width: 60%;
        margin: 30px auto 20px auto;
        padding: 15px 0 15px 0;
        border-radius: 200px;
        border: 2px solid violet;
    }

}




footer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 15px 0 60px 25px;
    
    ul {
        width: 100%;
        list-style: none;

        
        a {
            color: white;
            text-decoration: none;
            margin-bottom: 15px;

            i {
                width: 10px;
                height: 10px;
                margin-right: 15px;
                text-align: right;
            }
        }
    }

    .logo__blanc {
        border: 2px solid green;
        width: 100%;
        margin-bottom: 25px;
        font-size: 20px;

        img {
            width: 35%;
            object-fit: cover;
            color: white;
        }
    }
}
