* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .en-tete__logo--noir {
  padding: 10px 30% 5px 30%;
}

header .en-tete__logo--noir img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  color: gray;
  padding: 10px 30% 10px 30%;
}

header .recherche .map_marker {
  border: none;
}

header .recherche input {
  border: none;
  background-color: #eaeaea;
}

#reservation {
  padding: 50px 20px 50px 20px;
  text-align: center;
  background-color: #f6f6f6;
}

#reservation .reservation__explorer {
  width: 70%;
  margin-top: 15px;
  padding: 15px 0 15px 0;
  border-radius: 200px;
  color: white;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
}

#reservation .reservation__explorer:hover {
  -webkit-box-shadow: 1px 6px 6px 1px #383636;
          box-shadow: 1px 6px 6px 1px #383636;
  opacity: 0.8;
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px 30px 10px;
}

#fonctionnement h2 {
  margin-bottom: 25px;
}

#fonctionnement a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 70px;
  margin: 20px;
  border-radius: 15px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 4px 4px 1px #7c7676;
          box-shadow: 1px 4px 4px 1px #7c7676;
  position: relative;
}

#fonctionnement a i {
  margin-right: 10px;
  color: #7a7a7a;
}

#fonctionnement a .fonctionnement__a__number {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 5px 9px 5px 10px;
  margin: 22px 0 10px -15px;
}

#fonctionnement a .fonctionnement__a__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#fonctionnement a:hover {
  background-color: #cec1cc;
  -webkit-box-shadow: 1px 6px 6px 1px #383636;
          box-shadow: 1px 6px 6px 1px #383636;
}

#restaurant {
  background-color: #f6f6f6;
  padding: 40px 10px 30px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#restaurant h2 {
  margin-bottom: 20px;
}

#restaurant .restaurant__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 250px;
  border-radius: 5%;
  overflow: hidden;
  background-color: white;
  margin: 10px auto;
  text-decoration: none;
  color: black;
}

#restaurant .restaurant__carte:hover {
  -webkit-box-shadow: 1px 6px 6px 1px #383636;
          box-shadow: 1px 6px 6px 1px #383636;
}

#restaurant .restaurant__carte .restaurant__carte__img-resto {
  width: 100%;
  height: 170px;
  position: relative;
}

#restaurant .restaurant__carte .restaurant__carte__img-resto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurant .restaurant__carte .restaurant__carte__img-resto .nouveau {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #1b6150;
  background-color: #99E2D0;
  padding: 10px 20px;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  padding-left: 15px;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto .info .p {
  width: 100%;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto .info .lieu {
  width: 100%;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto .coeur {
  width: 40%;
  position: relative;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto .coeur i {
  font-size: 30px;
  position: absolute;
  margin-left: 75%;
}

#restaurant .restaurant__carte .restaurant__carte__description-resto .coeur:hover i {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 900;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #313131;
  color: white;
  padding: 15px 0 60px 25px;
}

footer .pied-de-page__logo--blanc {
  font-family: 'Shrikhand', serif;
  font-size: 20px;
  color: white;
  width: 100%;
  padding-right: 50%;
  padding-bottom: 15px;
}

footer ul {
  width: 100%;
  list-style: none;
  font-size: initial;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul a {
  color: white;
  text-decoration: none;
}

footer ul a i {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  text-align: right;
}

/* MediaQueries */
@media screen and (min-width: 800px) {
  #reservation h1 {
    margin: 0 37%;
  }
  #reservation .reservation__explorer {
    width: 60%;
    height: 60px;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    border-radius: 200px;
    font-size: 17px;
    color: white;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  }
  #fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 10px 30px 10px;
  }
  #fonctionnement h2 {
    width: 100%;
    margin-bottom: 25px;
  }
  #fonctionnement a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30%;
    height: 63px;
    margin: 10px;
    border-radius: 15px;
    background-color: #f6f6f6;
    -webkit-box-shadow: 1px 2px 2px 1px #eaeaea;
            box-shadow: 1px 2px 2px 1px #eaeaea;
    position: relative;
  }
  #fonctionnement a .fonctionnement__a__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
  }
  #restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #restaurant h2 {
    margin-bottom: 20px;
    width: 100%;
  }
  #restaurant .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    padding: 20px 0 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurant .restaurant .restaurant__carte {
    width: 45%;
  }
  #restaurant .restaurant .restaurant__carte .coeur {
    width: 40%;
    position: relative;
  }
  #restaurant .restaurant .restaurant__carte .coeur i {
    font-size: 30px;
    position: absolute;
    margin-left: 65%;
  }
}
/*# sourceMappingURL=style.css.map */