@import 'kiosque/mixins.scss';
@import 'kiosque/variables.scss';

* {
    @include reset;
}

header {
    @include disflex;
    text-align: center;
    justify-content: center;
    border: 2px solid green;


    .en-tete__logo--noir {
        padding: 10px 30% 5px 30%;
                   
        img {
        width: 100%;
        object-fit: cover;
        }
        
    }

    .recherche {
        @include disflex;
        width: 100%;
        height: 50px;
        background-color: $bgcmediumgris;
        color: gray;
        padding: 10px 0 10px 30%;
    

        .map_marker {
            border: none;       
        }

        input {
            border: none;
            background-color: $bgcmediumgris;
            margin-left: 15px;
        }
    }
}


#reservation {
    padding: 50px 20px 50px 20px;
    text-align: center;
    background-color: $bgcgris;

    .reservation__explorer {
        width: 70%;
        margin-top: 15px;
        padding: 15px 0 15px 0;
        border-radius: 200px;
        color: white;
        border: none;
        background: linear-gradient( 180deg, $secondaire 0%, $primaire 100%)
    }   
}


#fonctionnement {
    @include disflex;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;

    h2 {
        margin-bottom: 25px;
    }

    a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70px;
        margin: 20px;
        border-radius: 15px;
        background-color: $bgcgris;
        box-shadow: 1px 2px 2px 1px $bgcmediumgris;
        position: relative;
            
        i {
            margin-right: 10px;
            color: #7a7a7a;

        }
        .fonctionnement__a__number {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: #9356DC;
            color: white;
            position: absolute;
            padding: 5px 9px 5px 10px;
            margin: 22px 0 10px -15px;
        }

        .fonctionnement__a__text {
            display: flex;
            flex-wrap: wrap;
            padding-left: 50px;
            text-align: center;
            align-items: center;
            color: black;
        }
    }
}


#restaurant {
    background-color: $bgcgris;
    padding: 40px 10px 30px 10px;
    justify-content: space-between;
    justify-content: center;

    h2 {
        margin-bottom: 20px;
    }

    .restaurant__carte {
        @include disflex;
        width: 90%;
        height: 250px;
        border-radius: 5%;
        overflow: hidden;
        background-color: white;
        margin: 10px auto;
        text-decoration: none;
        color: black;

        .restaurant__carte__img-resto {
            width: 100%;
            height: 170px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span {
                position: absolute;
                top: 15px;
                right: 10px;
                color: #1b6150;
                background-color: $tertiaire;
                padding: 10px 20px;
            }
        }
        
        .restaurant__carte__description-resto {
            @include disflex;
            width: 100%;

            .p {
                @include disflex;
                width: 60%;
                padding-left: 15px;
            }

            .coeur {
                width: 40%;
                position: relative;

                i{
                    font-size: 30px;
                    position:absolute;
                    margin-left: 50%;
                    margin-top: 10%;
                    
                }
        
            }
        }

    }
}


footer {
    @include disflex;
    background-color: black;
    color: white;
    padding: 15px 0 60px 25px;
    
    ul {
        width: 100%;
        list-style: none;

        
        a {
            color: white;
            text-decoration: none;
            margin-bottom: 15px;

            i {
                width: 10px;
                height: 10px;
                margin-right: 15px;
                text-align: right;
            }
        }
    }

    .pied-de-page__logo--blanc {
        border: 2px solid green;
        width: 100%;
        margin-bottom: 25px;
        font-size: 20px;

        img {
            width: 35%;
            object-fit: cover;
            color: white;
        }
    }
}


