* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@mixin fonctionnement {
    
}

header {
    padding: 0 20% 0 20%;

    .logo img {
        width: 100%;
        object-fit: cover;
    }
}

#recherche {
    background-color: #cedcdd;
    padding: 10px 20% 10px 20%;
    
    .recherche {
        display: flex;
        flex-wrap: wrap;

        .map_marker {
            border: none;
        }
        input {
            border: none;
        }
    }
}


#reservation {
    padding: 50px 20px 50px 20px;
}



#fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;

    h2 {
        margin-bottom: 25px;
    }

    a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        padding: 15px 35px 15px 20px;
        border-radius: 15px;
        overflow: hidden;
        background-color: snow;
        box-shadow: 1px 2px 2px 1px #555;
    
        i {
            margin-right: 20px;
        }
    }
}




#restaurant {
    background-color: #f2f2f2;
    padding: 30px 10px 30px 10px;

    .resto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 250px;
        border-radius: 5%;
        background-color: white;

        .img-resto {
            width: 100%;
            height: 170px;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
}


footer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 15px 0 60px 10px;
    
    ul {
        width: 100%;
        list-style: none;
        
        a {
            color: white;
            text-decoration: none;
            margin-bottom: 10px;
        }
    }

    .logo-blanc {
        border: 2px solid green;
        width: 100%;
        margin-bottom: 50px;

        img {
            width: 35%;
            object-fit: cover;
        }
    }
}


