* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

.chargement {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  z-index: 50;
  justify-content: center;
  align-items: center;
  animation: opacite;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.chargement .loader {
  border: 25px solid #99E2D0;
  border-top: 25px solid #9356DC;
  border-bottom: 25px solid #FF79DA;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin;
  animation-duration: 3.5s;
}

header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
header .en-tete__logo--noir {
  padding: 10px 30% 5px 30%;
}
header .en-tete__logo--noir img {
  width: 100%;
  object-fit: cover;
}
header .recherche {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  color: gray;
  padding: 10px 25% 10px 25%;
}
header .recherche .map_marker {
  border: none;
}
header .recherche input {
  border: none;
  background-color: #e4e4e4;
  margin-left: 7px;
}

#reservation {
  padding: 50px 20px 50px 20px;
  text-align: center;
  background-color: #ecececc4;
}
#reservation .reservation__explorer {
  width: 200px;
  margin-top: 15px;
  padding: 15px 0 15px 0;
  border-radius: 200px;
  color: white;
  border: none;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: 2px solid violet;
}
#reservation .reservation__explorer:hover {
  box-shadow: 1px 6px 6px 1px #383636;
  opacity: 0.8;
}

#fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10px 30px 10px;
}
#fonctionnement h2 {
  margin-bottom: 25px;
}
#fonctionnement a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  margin: 20px;
  border-radius: 15px;
  background-color: #ecececc4;
  box-shadow: 1px 4px 4px 1px #7c7676;
  position: relative;
}
#fonctionnement a i {
  margin-right: 10px;
  color: #7a7a7a;
}
#fonctionnement a .fonctionnement__a__number {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 5px 9px 5px 10px;
  margin: 22px 0 10px -15px;
}
#fonctionnement a .fonctionnement__a__text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  text-align: center;
  align-items: center;
  color: black;
}
#fonctionnement a:hover {
  background-color: #cec1cc;
  box-shadow: 1px 6px 6px 1px #383636;
  opacity: 0.8;
}

#restaurant {
  background-color: #ecececc4;
  padding: 40px 10px 30px 10px;
  justify-content: space-between;
  justify-content: center;
}
#restaurant h2 {
  margin-bottom: 20px;
}
#restaurant .restaurant__carte {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 250px;
  border-radius: 5%;
  overflow: hidden;
  background-color: white;
  margin: 10px auto;
  text-decoration: none;
  color: black;
}
#restaurant .restaurant__carte:hover {
  box-shadow: 1px 6px 6px 1px #383636;
  opacity: 0.8;
}
#restaurant .restaurant__carte .restaurant__carte__img-resto {
  width: 100%;
  height: 170px;
  position: relative;
}
#restaurant .restaurant__carte .restaurant__carte__img-resto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#restaurant .restaurant__carte .restaurant__carte__img-resto .nouveau {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #1b6150;
  background-color: #99E2D0;
  padding: 10px 20px;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto .info {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-left: 15px;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto .info .p {
  width: 100%;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto .info .lieu {
  width: 100%;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto .coeur {
  width: 40%;
  position: relative;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto .coeur i {
  font-size: 27px;
  position: absolute;
  margin-left: 75%;
}
#restaurant .restaurant__carte .restaurant__carte__description-resto .coeur:hover i {
  background-image: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  transition-duration: 0.6s;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #313131;
  color: white;
  padding: 15px 0 20px 25px;
}
footer .pied-de-page__logo--blanc {
  padding-bottom: 15px;
}
footer ul {
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-bottom: 10px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul a i {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  text-align: right;
}

/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacite {
  from {
    opacity: 2;
    z-index: 50;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* MediaQueries */
@media screen and (min-width: 800px) and (max-width: 1119px) {
  #reservation h1 {
    margin: 0 37%;
  }
  #reservation .reservation__explorer {
    width: 250px;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    border-radius: 200px;
    color: white;
    border: none;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
    border: 2px solid violet;
  }
  #reservation .reservation__explorer:hover {
    box-shadow: 1px 6px 6px 1px #383636;
    opacity: 0.8;
  }

  #fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
  }
  #fonctionnement h2 {
    width: 100%;
    margin-bottom: 25px;
  }
  #fonctionnement a {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 63px;
    margin: 10px;
    border-radius: 15px;
    background-color: #ecececc4;
    box-shadow: 1px 2px 2px 1px #e4e4e4;
    position: relative;
  }
  #fonctionnement a .fonctionnement__a__text {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    text-align: center;
    align-items: center;
    color: black;
  }

  #restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  #restaurant h2 {
    margin-bottom: 20px;
    width: 100%;
  }
  #restaurant .restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 15px 10%;
    padding-left: 40px;
    padding-right: 30px;
    justify-content: center;
  }
  #restaurant .restaurant .restaurant__carte {
    width: 250px;
    height: 250px;
    margin: 10px;
  }
  #restaurant .restaurant .restaurant__carte .coeur {
    width: 40%;
    position: relative;
  }
  #restaurant .restaurant .restaurant__carte .coeur i {
    font-size: 30px;
    position: absolute;
    margin-left: 65%;
  }
}
@media screen and (min-width: 1120px) {
  #reservation h1 {
    margin: 0 40%;
  }
  #reservation .reservation__explorer {
    width: 300px;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    border-radius: 200px;
    color: white;
    border: none;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
    border: 2px solid violet;
  }
  #reservation .reservation__explorer:hover {
    box-shadow: 1px 6px 6px 1px #383636;
    opacity: 0.8;
  }

  #fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
  }
  #fonctionnement h2 {
    width: 100%;
    margin-bottom: 25px;
  }
  #fonctionnement a {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 63px;
    margin: 10px;
    border-radius: 15px;
    background-color: #ecececc4;
    box-shadow: 1px 2px 2px 1px #e4e4e4;
    position: relative;
  }
  #fonctionnement a .fonctionnement__a__text {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    text-align: center;
    align-items: center;
    color: black;
  }

  #restaurant .restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  #restaurant .restaurant .restaurant__carte {
    width: 250px;
    height: 250px;
  }
  #restaurant .restaurant .restaurant__carte .coeur {
    width: 40%;
    position: relative;
  }
  #restaurant .restaurant .restaurant__carte .coeur i {
    font-size: 30px;
    position: absolute;
    margin-left: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
