@mixin box-shadow {
    box-shadow: 1px 2px 2px 1px #555;

}

@mixin reset {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@mixin disflex {
    display: flex;
    flex-wrap: wrap; 
}

@mixin font-face {
    font-family: 'roboto', sans-serif;    
}

@mixin font-title {
    font-family: 'Shrikhand', serif;
    
}

@mixin degradebtn {
    background: linear-gradient( 180deg, $secondaire 0%, $primaire 100%);
}

@mixin degradecoeur {
    background: linear-gradient( 180deg, $primaire 0%, $secondaire 100%);
}

i {
    transform: rotate(-360deg);
}



    


